  .btn{
    display: flex;
    justify-self: center;
    border-radius: 35px;
    padding: 22px 55px;
    box-shadow: 0 16px 30px 0 rgba(50, 175, 100, 0.15);
    background: #fff;

    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #48924f;
    border: none;
    transition: 0.2s ease;
    cursor: pointer;
  }
  .btn:hover{
    transform: scale(1.05);
    opacity: 0.9;
  }